
   <td ><a href="http://{{fav_url}}" target="_self" referrerpolicy="no-referrer" >{{title}}</a></td>
    <td><span>({{format_url fav_url}})</span></td>
    {{#if favStatus}}
   <td>{{title}} is <span style="color: green;">up</span></td>
    {{else}}
    <td>{{title}} is <span style="color: red;">down</span></td>
    {{/if}}